/* 768px */


@media only screen and (max-width: 10000000px) {
    body{
        margin: 0;
        padding: 0;
        /* line-height: 1.6;
        word-spacing: 1.4px; */
        display: flex;
        height: 100%;
        background-color: #5B8EF0;
    }
    
    /* Special title for each box */

    .Box_Title{
        padding-left: 1em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        font-weight: bold;
        font-size: 4vh;
    }

    @media only screen and (max-width: 200px) {

        .Box_Title{
            padding-left: 1em;
            margin-top: 1em;
            margin-bottom: 0.5em;
            font-weight: bold;
            font-size: 3vh;
        }
    
    }


    /* Whole of main menu value here */

    .MainMenu {
        width: 100%;
        height: 100%;
        /* border: 10px solid; */
        display: flex;
        flex-direction: column;
    }

    /* ---------------------------------------------------------------------- */
    
    /* Back to main menu button values*/

    .MainMenuButton{
        display: flex;
        align-self: left;
        margin-right: auto;

    }


    .BackButton{
        display: flex;
        margin: 1em;
    }

    .BackButton button{
        background: transparent;
        border: 0;
        cursor: pointer;
        width: 150%;
        height: 150%;
        
    }
    .BackButton img{
        align-items: center;
        text-align: center;
        width: 30px;
    }

    .BackToMainMenuButton{
        display: flex;
       
    }

    .BackToMainMenuTitle{
        font-weight: bold;
        font-size: 200%;
        margin: 0;
        padding: 0;
        padding-left: 0.3em;
    }

    /* ---------------------------------------------------------------------- */

    /* container that contains all units */

    .Main_Unit {
        height: 100%;
        padding: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        border: 1px solid #456BB4;
        border-radius: 10px;
        background-color: rgb(69,107,180,0.61);
        color: black;
        display: flex;
        flex-direction: column;
        
    }
    
    /* ---------------------------------------------------------------------- */

    
    /* Temperature unit , box 1*/



    .TemperatureUnit{
        width: 100%;
        align-self: center;
        display: flex;
        text-align: center;
    }

    .Temperature{
        max-height: 100%;
        height: auto;
        text-align: left;
        margin: auto;
        margin-left: 0.2em;
        font-size: 5.5vw;

    }

    .C_F{
        margin: auto;
        margin-right: 0;
        width: 6vh;
    }

    @media only screen and (min-width: 1000px) {

        .C_F{
            margin: auto;
            margin-right: 0;
            width: 7vw;
        }
    
    }

    @media only screen and (min-height: 1000px) {

        .C_F{
            margin: auto;
            margin-right: 0;
            width: 7vh;
        }
    
    }
    /* ---------------------------------------------------------------------- */
    
    /* Wind unit */

    .UnitContainer{
        display: flex;
        padding-top: 8%;
        width: 100%;
        align-self: center;
        display: flex;
        text-align: center;
    }

    .Unit{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-self: center;
        display: flex;
        text-align: center;
    }

    .X_title{
        max-height: 100%;
        height: auto;
        text-align: left;
        margin: auto;
        margin-left: 0.2em;
        font-size: 5.5vw;

    }

    .X_units{
        max-height: 100%;
        height: auto;
        text-align: left;
        margin: auto;
        margin-left: 0.70em;
        font-size: 3vw;
        color: #00F0FF;

    }

    .arrow{
        margin: auto;
        margin-right: 1.5vh;
        width: 5vw;
    }

}