/* 768px */


@media only screen and (max-width: 10000000px) {
 body{
        margin: 0;
        padding: 0;
        /* line-height: 1.6;
        word-spacing: 1.4px; */
        display: flex;
        height: 100%;
        background-color: #5B8EF0;
    }
    
    /* Special title for each box */
    .Box_Title{
        padding-left: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-weight: bold;
    }


    @media only screen and (min-width: 600px) {
        .Box_Title{
            padding-left: 1em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            font-weight: bold;
            font-size: 2.5vw;
        }

    }

    /* Whole of main menu value here */

    .MainMenu {
        width: 100%;
        height: 100%;
        /* border: 10px solid; */
        display: flex;
        flex-direction: column;
    }
    /* ---------------------------------------------------------------------- */

    .Setting_Search{
        display: flex;
        flex-direction: column;
    }

    /* ---------------------------------------------------------------------- */
    /* Setting */


    .setting{
        padding: 1em;
        margin-left: auto;
        margin-right: 1em;
    }

    .setting button{
        background: transparent;
        border: 0;

        cursor: pointer;
    }
    .setting img{
        width: 30px;
    }

    /* ---------------------------------------------------------------------- */

    /* Search Bar */

    .search-bar-background{
        padding: 0.5em;
        margin-left: 1em;
        margin-right: 1em;
        border: 1px solid #456BB4;
        border-radius: 12px;
        background-color: white;
        color: black;
        display: flex;
        
    }

    .search-bar-background input{
        flex: 1;
        border: 0;
        padding: 2% 1%;
        font-size: 100%;
        color: #000000;
        outline: none;
    }

    .search-bar-background button img{
        width: 25px;
    }

    .search-bar-background button{
        border: 0;
        border-radius: 1000px;
        width: 60px;
        background-color: darkgrey;
        cursor: pointer;
    }
    

    /* ---------------------------------------------------------------------- */

    
    /* Box 1, Weather/temperature */
    /* mainFrame Value */
    .Main_Temp_weather {
        height: 100%;
        padding: 1em;
        margin-top: 0.75em;
        margin-left: 1em;
        margin-right: 1em;
        border: 1px solid #456BB4;
        border-radius: 10px;
        background-color: rgb(69,107,180,0.61);
        color: black;
        display: flex;
        flex-direction: column;
    }

    /* Location name , Top */

    .Location-Top{
        align-self: center;
        display: flex;
        text-align: center;
    }

    .Location{
        font-size: 2em;
    }

    .arrow{
        height: 0.75em;
        padding-top: 4.5vw;
    }

    @media only screen and (min-width: 500px) {
        .arrow{
            height: 0.75em;
            padding-top: 3.5vw;
        }
    }

    @media only screen and (min-width: 700px) {
        .arrow{
            height: 0.75em;
            padding-top: 2.5vw;
        }
    }

    @media only screen and (min-width: 900px) {
        .arrow{
            height: 0.75em;
            padding-top: 2vw;
        }
    }

    @media only screen and (min-width: 1100px) {
        .arrow{
            height: 0.75em;
            padding-top: 0;
            margin-top: 1.5vw;
        }
    }


    /* Weather & temp , Middle*/

    .Temperature-Middle{
        padding-top: 1em;
        align-self: center;
        color: #CAD7DF;
        display: flex;
        
    }


    .weatherIcon{
        width: 5em;
        height: 4em;
        margin: auto;
    }
    .temperatureValue{
        font-size: 4em;
        
    }

    @media only screen and (min-width: 800px) {
        .weatherIcon{
            width: 10vw;
            height: 8vw;
        }
        .temperatureValue{
            font-size: 8vw;
            
        }
    }


    /* Bottom 4 item , today, Weather name, t_date & date*/

    .Weather{
        align-self: center;
    }

    .Today{
        font-size: 1.5em;
    }

    .WeatherName{
        font-size: 2.5em;
        color: #CAD7DF;
    }

    .T_Date{
        font-size: 1.5em;
    }

    .Date{
        font-size: 2em;
        color: #76D6FF;
    }
    /* ---------------------------------------------------------------------- */

    /* Box 2 - hourly forecast */

    .Main_HourlyForecast{
        height: 100%;
        padding: 1em;
        margin-left: 1em;
        margin-right: 1em;
        border: 1px solid #456BB4;
        border-radius: 10px;
        background-color: rgb(69,107,180,0.61);
        color: black;
        display: flex;
    }

    .ForeCast_FlexTable{
        display: flex;
        flex-direction: column;
    }

    .ForeCast{
        display: flex;
        margin: auto;
    }

    .Time{   
        display: flex;
    }

    /* style="padding-right: 2em; padding-left: 1.3em" */


    /* container of all time for the hour forecast */
    .Time_Item{
        color: #ffffff;
        margin: auto;
    }

    

    /*  */


    .Icon-WeatherForecast{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin: auto;
        width: 15%;
    }

    .Temperature-WeatherForecast{
        color: #FFFFFF;
        display: flex;
    }

    .Temperature-WeatherForecast-container{
        margin: auto;
    }

    
    /* ---------------------------------------------------------------------- */

    /* Box 3 - weekly forecast */

    .Main_WeeklyForecast{
        height: 100%;
        padding: 1em;
        margin-left: 1em;
        margin-right: 1em;
        border: 1px solid #456BB4;
        border-radius: 10px;
        background-color: rgb(69,107,180,0.61);
        color: black;
        display: flex;
    }

    .Weekly_ForeCast{
        display: flex;
    }



    .Weekly_Time{
        padding-right: 0.3em;
        color: #FFFFFF;
        display: flex;
    }

    /* Container for all weekday */

    .Weekly_Time_container{
        margin: auto;
    }

    .Weekly_Icon-WeatherForecast{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin: auto;
        width: 15%;
    }

    .Weekly_Temperature-WeatherForecast{
        color: #FFFFFF;
        display: flex;
    }

    /* .Weekly_Row1{
        gap: 0.3em;
    } */
    .Weekly_Row2{
        gap:0.3em;
    }

    .Weekly_Row3{
        gap:3px;
    }
    /* ---------------------------------------------------------------------- */
    
    /* Box 4 - Train Delay */

    .Main_Train_Delay {
        height: 100%;
        padding: 1em;
        margin-left: 1em;
        margin-right: 1em;
        border: 1px solid #456BB4;
        border-radius: 10px;
        background-color: rgb(69,107,180,0.61);
        color: black;
        display: flex;
        flex-direction: column;
    }
    

    /* Location name , Top */

    .TrainLine-Top{
        align-self: center;
        display: flex;
        text-align: center;
    }

    .TrainLine{
        font-size: 2.5em;
        color: #FFFFFF;
        text-align: center;
    }

    .Train_delay_arrow{
        height: 0.75em;
        padding-top: 7vw;
    }

    @media only screen and (min-width: 500px) {
        .Train_delay_arrow{
            height: 0.75em;
            padding-top: 5vw;
        }
    }

    @media only screen and (min-width: 700px) {
        .Train_delay_arrow{
            height: 0.75em;
            padding-top: 3.5vw;
        }
    }

    @media only screen and (min-width: 900px) {
        .Train_delay_arrow{
            height: 0.75em;
            padding-top: 3vw;
        }
    }

    @media only screen and (min-width: 1100px) {
        .Train_delay_arrow{
            height: 0.75em;
            padding-top: 0;
            margin-top: 2vw;
        }
    }


    /* Weather & temp , Middle*/

    .Delay-Middle{
        padding-top: 2.5%;
        align-self: center;
        color: #CAD7DF;
        display: flex;
        
    }


    .TFL_icon{
        width: 12vw;
        height: 11vw;
        padding-top: 0.2em;
    }
    .Strike{
        padding-left: 0.3em;
        font-size: 6vw;
        margin-top: auto;
        margin-bottom: auto;
        color: #42FE13;
    }


    /* Bottom 4 item , today, Weather name, t_date & date*/

    .Delay{
        align-self: center;
    }

    .Currently{
        padding-top: 0.5em;
        font-size: 2em;
    }

    .TypeOfDelay{
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        font-size: 3em;
        color: #FFFA81;
        text-align: center;
    }

    .Nxt_Stike_Date{
        padding-bottom: 0.5em;
        font-size: 2em;
        text-align: center;
    }

    .Strike_Date{
        font-size: 2.5em;
        color: #61FF00;
        text-align: center;
    }


    /* ---------------------------------------------------------------------- */
    
    /* Box 5 - Umbrella Reminder */

    .Main_UmbrellaReminder {
        height: 100%;
        padding: 1em;
        margin-left: 1em;
        margin-right: 1em;
        border: 1px solid #456BB4;
        border-radius: 10px;
        background-color: rgb(69,107,180,0.61);
        color: black;
        display: flex;
        flex-direction: column;

    }

    /* Location name , Top */

    .Umbrella-Top{
        align-self: center;
        display: flex;
    }

    .Reminder-title{
        font-size: 2.5em;
    }

    /* Weather & temp , Middle*/

    .Rem_Today-Middle{
        padding-top: 2.5%;
        align-self: center;
        color: #CAD7DF;
        display: flex;
        flex-direction: column;
    }


    .UmbrellaIcon{
        align-self: center;
        width: 8em;
        padding-top: 0.2em;
    }


    /* Bottom 4 item , today, Weather name, t_date & date*/

    .Reminder{
        align-self: center;
    }

    .R_Today{
        padding-top: 0.5em;
        padding-bottom: 0.25em;
        font-size: 2em;
    }

    .BringUmbrella{
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        font-size: 2.2em;
        color: #FFE600;
        text-align: center;
    }

    .R_Tomorrow{
        padding-top: 0.25em;
        padding-bottom: 0.5em;
        font-size: 2em;
    }

    .recommend{
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        font-size: 2.2em;
        color: #61FF00;
        text-align: center;
    }

    /* ---------------------------------------------------------------------- */

    /* Box 6 - Calendar */

    .Main_Calendar {
        height: 100%;
        padding: 1em;
        margin-left: 1em;
        margin-right: 1em;
        border: 1px solid #456BB4;
        border-radius: 10px;
        background-color: rgb(69,107,180,0.61);
        color: black;
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
        text-align: center;

    }

    .reminder{
        text-align: left;
        color: aliceblue;
        font-size: 3vw;
    }

    #frame{
        display: flex;
        flex-direction: column;
    }

    .DateSelect{
        margin-top: 1em;
    }

    .CalendarIcon{
        text-align: center;
        align-self: center;
        width: 10px;
        margin: auto;
    }

    /* ---------------------------------------------------------------------- */

    /* Box 6 - Calendar */

    .Main_Calendar {
        height: 100%;
        padding: 1em;
        margin-left: 1em;
        margin-right: 1em;
        border: 1px solid #456BB4;
        border-radius: 10px;
        background-color: rgb(69,107,180,0.61);
        color: black;
        display: flex;
        flex-direction: column;
    }

    .CalendarIcon{
        text-align: center;
        align-self: center;
        width: 50%;
    }


    /* ---------------------------------------------------------------------- */

    /* Box 7 - Calendar */

    .Main_WeatherDetails {
        height: 100%;
        padding: 1em;
        margin-left: 1em;
        margin-right: 1em;
        border: 1px solid #456BB4;
        border-radius: 10px;
        background-color: rgb(69,107,180,0.61);
        color: black;
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
        flex-direction: column;
    }

    .rows{
        display: flex;
        flex-direction: row;
        gap: 1em;
        
    }

    .boxes{
        border: 1px solid #456BB4;
        border-radius: 10px;
        color: black;
        background-color: rgb(69,107,180,0.61);
        display: flex;
        flex-direction: column;
        
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 100%;
        height: 6em;
        font-size: 5vw;
    }

    .Text-top{
        margin-top: auto;
        align-self: center;
        width: 5vw;
    }

    .Text-bot{
        margin-bottom: auto;
        color: rgb(82, 209, 248);
    }

    @media only screen and (min-width: 800px) {
    
        .boxes{
            border: 1px solid #456BB4;
            border-radius: 10px;
            color: black;
            background-color: rgb(69,107,180,0.61);
            display: flex;
            flex-direction: column;
            
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1em;
            margin-bottom: 1em;
            width: 100%;
            height: 6em;
            font-size: 3vw;
        }
    
        .Text-top{
            margin-top: auto;
            align-self: center;
            width: 3vw;
        }

        
    }
    
   /* Style the dropdown button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    align-self: center;
    text-align: center;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position:relative;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }


}