@media only screen and (max-width: 10000000px) {
    body{
        margin: 0;
        padding: 0;
        /* line-height: 1.6;
        word-spacing: 1.4px; */
        display: flex;
        height: 100%;
        background-color: #5B8EF0;
    }

    .MainMenu {
        width: 100%;
        height: 100%;
        /* border: 10px solid; */
        display: flex;
        flex-direction: column;
    }
    
    
    .MainMenuButton{
        display: flex;
        align-self: left;
        margin-right: auto;
    
    }
    
    
    .BackButton{
        display: flex;
        margin: 1em;
    }
    
    .BackButton button{
        background: transparent;
        border: 0;
        cursor: pointer;
        width: 150%;
        height: 150%;
        
    }
    .BackButton img{
        align-items: center;
        text-align: center;
        width: 30px;
    }
    
    .BackToMainMenuButton{
        display: flex;
       
    }
    
    .BackToMainMenuTitle{
        font-weight: bold;
        font-size: 200%;
        margin: 0;  
        padding: 0;
        padding-left: 0.3em;
    }

    /* Reminder Title / Title */
    .Box_Title{
        padding-left: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-weight: bold;
        font-size: 200%;
    }

    /* Reminder Box / content */
    .Reminder_Box {
        height: 100%;
        padding: 1em;
        margin-top: 0.75em;
        margin-left: 1em;
        margin-right: 1em;
        border: 1px solid #456BB4;
        border-radius: 10px;
        background-color: rgb(69,107,180,0.61);
        color: black;
        display: flex;
        flex-direction: column;
    }

    .Reminder_Title{
        padding-left: 1em;
        margin-left: -0.8em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-weight: bold;
        font-size: 200%;
    }

    .Time_Box{
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        color: black;
        font-size: 300%;
        text-align: center;
    }
    
    .Text_Box{
        margin: 1em;
        border: 1px solid black;
        background-color: white;
        color: black;
        font-size: 150%;
        margin-left: 0em;
        margin-right: 0em;
    }

    .Button{
        height: 100%;
        width: 100%;
        border: 1px solid #456BB4;
        border-radius: 10px;
        background-color: rgba(15, 46, 104, 0.61);
        color: white;
        font-size: 200%;
        text-align: center;
        margin-top: 1em;
        padding: 1em;
        margin-bottom: 0.5em;

    }

    #frame{
        display: flex;
        flex-direction: column;
    }


}