/* 768px */


@media only screen and (max-width: 10000000px) {
    body{
        margin: 0;
        padding: 0;
        /* line-height: 1.6;
        word-spacing: 1.4px; */
        display: flex;
        height: 100%;
        background-color: #1a1d24;
    }
    
    /* Special title for each box */

    .Box_Title{
        padding-left: 1em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        font-weight: bold;
        font-size: 4vw;
        color: white;
    }


    /* Whole of main menu value here */

    .MainMenu {
        width: 100%;
        height: 100%;
        /* border: 10px solid; */
        display: flex;
        flex-direction: column;
    }

    /* ---------------------------------------------------------------------- */
    
    /* Back to main menu button values*/

    .MainMenuButton{
        display: flex;
        align-self: left;
        margin-right: auto;

    }


    .BackButton{
        display: flex;
        margin: 3vw;
    }

    .BackButton button{
        background: transparent;
        border: 0;
        cursor: pointer;
        width: 150%;
        height: 150%;
        color: white;
    }
    .BackButton img{
        align-items: center;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        width: 5vw;
        height: 5vw;
        filter: invert(1);
    }

    .BackToMainMenuButton{
        display: flex;
       
    }

    .BackToMainMenuTitle{
        font-weight: bold;
        font-size: 5vw;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
        padding-left: 0.3em;
    }

    /* ---------------------------------------------------------------------- */

    /* container that contains all units */

    .Main_Unit {
        height: 100%;
        padding: 1em;
        margin-left: 2vw;
        margin-right: 2vw;
        border: 1px solid #232425;
        border-radius: 20px;
        background-color: rgba(45, 50, 59, 0.61);
        color: black;
        display: flex;
        flex-direction: column;

    }
    
    /* ---------------------------------------------------------------------- */

    
    /* Temperature unit , box 1*/



    .TemperatureUnit{
        width: 100%;
        align-self: center;
        display: flex;
        text-align: center;
    }

    .Temperature{
        max-height: 100%;
        height: auto;
        text-align: left;
        margin: auto;
        margin-left: 0.2em;
        font-size: 5.5vw;
        color: white;
    }

    .C_F{
        margin-left: auto;
        width: 12vw;
        filter: invert(1);
    }

    /* ---------------------------------------------------------------------- */
    
    /* All unit */

    .UnitContainer{
        display: flex;
        padding-top: 4%;
        padding-bottom: 4%;
        width: 100%;
        align-self: center;
        display: flex;
        text-align: center;
    }

    .Unit{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-self: center;
        display: flex;
        text-align: center;
    }

    .X_title{
        max-height: 100%;
        height: auto;
        text-align: left;
        margin: auto;
        margin-left: 0.2em;
        font-size: 5.5vw;
        color: white;
    }

    .X_units{
        max-height: 100%;
        height: auto;
        text-align: left;
        margin-right: 5vw;
        margin-left: 0.70em;
        font-size: 3vw;
        width: 90%;
        background-color: transparent;
        border: 0;
        outline: none;
        border-radius: 20px;
        color: white;
    }


    .X_units option{
        color: white;
        background-color: rgba(45, 50, 59, 0.61);
        border-radius: 20px;
    }

    .arrow{
        margin: auto;
        margin-right: 3.5vw;
        width: 5vw;
        filter: invert(1);
    }

    /* ---------------------------------------------------------------------- */
    
    /* Theme Buttons */

    .themeButtons{
        padding: 2%;
        display: flex;
        justify-content: space-evenly;
    }

    .button {
        align-items: center;
        background: #FFFFFF;
        border: 0 solid #E2E8F0;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        color: #1A202C;
        display: inline-flex;
        font-family: Inter, sans-serif;
        font-size: 30px;
        font-size: 4vmin; 
        font-weight: 700;
        justify-content: center;
        overflow-wrap: break-word;
        padding: 24px;
        text-decoration: none;
        width: 20vmin;
        height: 15vmin;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .darkMode {
        background: #000000;
        border: 0 solid #E2E8F0;
        color: #ffffff;
    }

    .QMColours {
        color: rgb(13, 55, 133);
    }
}